body {
    margin: auto;
    width: 100%;
   }

.hero-image {
    background-image: url("background.jpg");
    background-color: #cccccc;
    max-height: 100vh;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container a{
    text-decoration: none;
}

.hero-text {

    font-size: 20px;
    padding: 15px;
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
}

.container{
    display:flex;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 25px;
    padding: 10px;
    font-family: 'Saira Stencil One', cursive;
    background-color: black;
    color: white;
    text-align: center;
    
}